﻿@model GraphWeb.Models.GraphCalculationResultViewModel

<div>
	From: @Model.CalculateContract.From.Label<br />
	To: @Model.CalculateContract.To.Label<br />

	@if (Model.CalculateContract.Path.Length > 0)
	{
		<p>Nodes to visit: 
		@foreach (var node in Model.CalculateContract.Path)
		{
			@:[ @node.Label ]
		}
		</p>
	}
	else
	{
		<p>Path not found</p>
	}
</div>
