﻿@model GraphWeb.GraphReader.GraphContract

@{
    Layout = "~/Views/_Layout.cshtml";
}

<style type="text/css">
	#graph {
		width: 600px;
		height: 400px;
		border: 1px solid lightgray;
		font-size: 20px;
	}
</style>

<div id="graph"></div>

@if (Model != null)
{
	<script type="text/javascript">
		var nodes = new vis.DataSet([
		@if (Model.Nodes != null)
		{
			foreach (var node in Model.Nodes)
			{
				@:{ id: @node.Id, label: '@node.Label' },
			}
		}
		]);
	
		var edges = new vis.DataSet([
		@if (Model.Edges != null)
		{
			foreach (var edge in Model.Edges)
			{
				@:{ from: @edge.IdFirst, to: @edge.IdSecond },

			}
		}
		]);

		var container = document.getElementById('graph');
		var data = {
			nodes: nodes,
			edges: edges
		};
		var options = {
			"edges": {
				selectionWidth: 0
			},
			"physics": {
				"enabled": false
			}
		};
		var network = new vis.Network(container, data, options);
		network.on("click", function (params) {
			SelectNode(params.nodes[0])
		});

		var firstSelected = 0;
		var lastSelected = 0;

		function SelectNode(id)
		{
			if(firstSelected == 0)
			{
				firstSelected = id;
				lastSelected = id;
			}

			firstSelected = lastSelected;
			lastSelected = id;

			document.getElementById('hidden_id_first').value = firstSelected;
			document.getElementById('hidden_id_second').value = lastSelected;

			network.setSelection({
				nodes: [firstSelected, lastSelected],
				edges: [],
				unselectAll: true,
				highlightEdges: false
			});
		}

	</script>

	using(Ajax.BeginForm("CalculateShortestPath", "Graph", new AjaxOptions{
		HttpMethod = "POST",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "calculate_result"
	}))
	{
		<input type="hidden" id="hidden_id_first" name="idFirst" value="0" />
		<input type="hidden" id="hidden_id_second" name="idSecond" value="0" />
		<button type="submit">Calculate shortest path</button>
	}

	<div id="calculate_result"></div>
}