﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Graph Web</title>
	@Scripts.Render("~/js/vis")
	@Styles.Render("~/css/vis")
</head>
<body>
    <div>
        @RenderBody()

		@Scripts.Render("~/js/jquery")
    </div>
</body>
</html>
